/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --cyan-600: #4d96a8;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
  --ff: "Red Hat Display", serif;
}

body {
  min-height: 100svh;
  background-color: var(--white);
}

header {
  padding: 48px 80px 0 80px;
}

.logo {
  width: 118px;
  height: 28px;
  margin: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 64px 32px 32px 32px;
  overflow-x: hidden;
}

.mobile-tablet {
  margin-inline: -61px;
}

.faces-left {
  display: none;
}

.faces-right {
  display: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  margin-inline: 3px;
}

.hero-title {
  font: 900 2.5rem var(--ff);
  line-height: 1.1;
  letter-spacing: 0;
  color: var(--slate-900);
}

.text {
  font: 500 1rem var(--ff);
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--slate-600);
}

.hero-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.btn {
  font: 900 1rem var(--ff);
  padding: 16px 40px;
  border: none;
  border-radius: 29px;
  color: var(--white);
}

.btn-blue {
  background-color: var(--cyan-600);
}

.btn-blue:hover,
.btn-blue:focus {
  cursor: pointer;
  background-color: #71c0d4;
}

.blue {
  color: var(--cyan-300);
}

.btn-purple {
  background-color: var(--purple-600);
}

.btn-purple:hover,
.btn-purple:focus {
  cursor: pointer;
  background-color: #b18bdd;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 32px 32px 64px 32px;
}

.rectangle {
  border-inline-start: solid 1px var(--slate-300);
  height: 80px;
  position: relative;
  left: 27.5px;
}

.number {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 900 1rem var(--ff);
  line-height: 1.5;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--slate-600);
  border: solid 1px var(--slate-300);
  border-radius: 999px;
}

.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.image-collage {
  height: 144px;
  width: 147.5px;
  border-radius: 8px;
}

.content-desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}

.content-title-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-subtitle {
  font: 900 0.75rem var(--ff);
  line-height: 1.1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--cyan-600);
}

.content-title {
  font: 900 2rem var(--ff);
  line-height: 1.1;
  letter-spacing: 0;
  color: var(--slate-900);
}

footer .number-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .rectangle {
  position: relative;
  left: 0;
}

.hero-footer {
  background-image: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-block-start: -28px;
}

.hero-footer-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  text-align: center;
  padding: 64px 32px;
  background-color: hsla(192, 37%, 48%, 0.9);
}

.footer-text {
  padding: 2px;
}

.light {
  color: var(--white);
}

.purple {
  color: var(--purple-300);
}

@media (min-width: 48rem) {
  .hero {
    gap: 72px;
    padding: 64px 32px;
  }

  .mobile-tablet {
    margin-inline: -58px;
  }

  .hero-content {
    margin-inline: 127.85px;
  }

  .hero-title {
    font: 900 3rem var(--ff);
    line-height: 1.1;
  }

  .main-content {
    padding: 56px 32px 64px 32px;
  }

  .images-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .image-collage {
    height: 160px;
    width: 152px;
  }

  .content-desc {
    margin-inline: 100px;
  }

  .content-subtitle {
    font: 900 0.875rem var(--ff);
    line-height: 1.1;
  }

  .content-title {
    font: 900 2.25rem var(--ff);
    line-height: 1.1;
    margin-inline: 29.5px;
  }

  .hero-footer {
    background-image: url(./assets/tablet/image-footer.jpg);
  }

  .footer-text {
    margin-inline: 100px;
  }
}

@media (min-width: 90rem) {
  header {
    padding: 80px 80px 0 80px;
  }

  .hero-container {
    overflow-x: hidden;
  }

  .hero {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding: 64px 0px;
    margin-inline: -24px;
  }

  .mobile-tablet {
    display: none;
  }

  .faces-left {
    width: 394px;
    height: 303px;
    display: block;
    margin-inline-end: 95.85px;
  }

  .faces-right {
    width: 394px;
    height: 303px;
    display: block;
    margin-inline-start: 95.85px;
    align-self: flex-end;
  }

  .hero-content {
    max-width: 448.3px;
    gap: 32px;
    margin-block: 23px;
    margin-inline: 0px;
    padding-inline: 2px;
  }

  .hero-title {
    font: 900 4rem var(--ff);
    line-height: 1.1;
  }

  .text {
    font: 500 1.125rem var(--ff);
    line-height: 1.5;
  }

  .main-content {
    padding: 56px 80px 72px 80px;
  }

  .images-container {
    gap: 32px;
  }

  .image-collage {
    height: 256px;
    width: 256px;
  }

  .content-desc {
    margin-inline: 368px;
  }

  .content-subtitle {
    font: 900 1rem var(--ff);
    line-height: 1.1;
  }

  .content-title {
    font: 900 2.5rem var(--ff);
    line-height: 1.1;
    margin-inline: 49.5px;
  }

  .hero-footer {
    background-image: url(./assets/desktop/image-footer.jpg);
  }

  .hero-footer-container {
    flex-direction: row;
    gap: 32px;
    text-align: left;
    padding: 112px 80px;
  }

  footer .content-title {
    max-width: 445px;
    margin-inline-start: 80px;
  }

  footer .text {
    max-width: 355px;
  }

  footer .btn-purple {
    margin-inline-start: auto;
    margin-inline-end: 80px;
  }

  .light {
    margin-inline: 0;
  }
}
